# Virtual Environment
venv/
env/
ENV/

# Database files (Don't commit local user data/databases)
*.db
*.sqlite3
instance/

# Python cache files
__pycache__/
*.py[cod]

# VS Code & Environment variables
.vscode/
.env

*.ipynb

*.xlsx
*.csv

ml_experiments._1.ipynb

forATENEO_DENGUE_2023.xlsx
forATENEO_DENGUE_2024.xlsx
forATENEO_DENGUE_2025.xlsx
forATENEO_DENGUE_2026.xlsx